.loginWrapper {
  @include boxShadowLevel2;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  opacity: 0.93;
  .loginInput {
    margin-left: 40px;
    margin-right: 40px;
    label {
      font-weight: 500;
      font-size: 15px;
    }
  }
}

.loginContainer {
  background: url("images/login.jpg");
  background-size: cover;
  height: 100%;
}

.mainPageContainer {
  height: 100%;
}


