.formContainer {
  background: url("images/login.jpg");
  background-size: cover;
  height: 100%;
}
.formWrapper {
  @include boxShadowLevel2;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  opacity: 0.93;
}
