// Source: app/styles/scss/general.scss
body {
  margin: 0;
  height: 100%;
  background-color: #faf8f4;
  font-family: Segoe UI,Verdana,Arial,Helvetica,sans-serif;
  //overflow-y: scroll;
  .abstractViewContainer {
    height: 100%;
    .mainContainer {
      width: 100%;
      padding-top: 60px;
      height: calc(100% - 60px);
      .mainContent {
        float: right;
        height: 100%;
        width: 100%;
        padding-left: 300px;
        padding-right: 60px;
        margin-top: 40px;
        .container {
          height: 100%;
        }
      }
    }
  }

  .logoContainer {
    position: absolute;
    width: 240px;
    height: 60px;
    text-align: center;
    line-height: 60px;
  }

  #loading-bar .bar {
    position: relative;
  }
}

* {
  box-sizing: border-box;
}

// Source: app/scripts/components/leftBar/leftBar.scss
.leftMenuContainer {
  width: 240px;
  height: 100%;
  float: left;
  position: fixed;
  top: 60px;
  z-index: 4;
  background-color: #1E88E5;
  box-shadow: 4px 0px 9px 0px rgba(0, 0, 0, 0.36);
  .userDetails {
    height: 150px;
    padding-left: 20px;
    .userMenu {
      .userPicture {
        margin: 30px 0 0 0;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: white;
      }
      .name {
        display: inline;
        word-wrap: break-word;
        width: 121px;
        font-size: 17px;
        font-weight: 400;
        color: #ECEFF1;
        float: right;
        margin-top: 29px;
        margin-left: 10px;
        margin-right: 29px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .mainLeftMenu {
    .menuItem {
      margin-left: auto;
      margin-right: auto;
      display: block;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
      background-color: #A5D6A7;
      margin-bottom: 50px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      min-height: 0;
      min-width: 0;
      .glyph {
        font-size: 35px;
        padding: 18px 12px 12px 12px;
      }
      &:hover {
        background-color: #81C784;
        cursor: pointer;
      }
      .md-ripple-container {
        border-radius: 50%;
      }
    }
  }
}

.menuContent {
  .menuItemButton {
    & span {
      margin-left: 25px;
    }
    .menuItemGlyph {
      position: absolute;
      top: 13px;
      font-size: 20px;
      width: 20px;
    }
  }
}

.tooltip {
  font-size: 15px;
}


// Source: app/scripts/components/topBar/topBar.scss
.topBarContainer {
  height: 60px;
  margin-left: 240px;
  box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.36);
  position: fixed;
  width: 100%;
  z-index: 3;
}

// Source: app/scripts/userAccount/userAccount.style.scss
.userProfile {
  .pageTitleHeader {
    height: 80px;
    line-height: 80px;
    margin-left: 30px;
    font-size: 25px;
    padding: 0;
    &:before {
      font-family: "Material Icons";
      content: 'account_box';
      position: absolute;
      top: 10px;
      font-size: 55px;
    }
    .pageHeader {
      margin-left: 70px;
      display: inline-block;
    }
  }
  .delimiterLine {
    border-top: 2px solid #ccc;
  }
  md-input-container{
    &.inputForm {
      margin-left: 20px;
      label {
        z-index: auto;
      }
    }
  }
}
