body {
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  margin: 0;
  height: 100%;
  background-color: #faf8f4;
  font-family: Segoe UI, Verdana, Arial, Helvetica, sans-serif;
  .topBarContainer {
    height: 60px;
    background: #3F51B5;
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.36);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .mainContainer {
    width: 100%;
    padding-top: 60px;
    height: calc(100% - 60px);
    .mainContent {
      float: right;
      height: 100%;
      width: 100%;
      padding-left: 300px;
      padding-right: 60px;
      margin-top: 40px;
      .container {
        height: 100%;
      }
    }
  }

  .logoContainer {
    position: absolute;
    width: 240px;
    height: 60px;
    text-align: center;
    line-height: 60px;
  }

  #loading-bar .bar {
    position: relative;
    height: 60px;
    background: #303F9F;
  }
}

* {
  box-sizing: border-box;
}
