body {
  margin: 0;

  .logoContainer {
    position: absolute;
    width: 240px;
    height: 60px;
    text-align: center;
    line-height: 60px;
  }

  .container {
    margin-left: 240px;
    position: relative;
    z-index: -1;
  }
}
