<div class="leftMenuContainer">
  <div class="userDetails">
    <md-menu class="userMenu" md-offset="54 54">
      <span ng-click="openMenu($mdOpenMenu, $event)">
          <img class="userPicture" src="images/user-female.png">
        <div class="name">{{user.userDetails.FirstName}} {{user.userDetails.LastName}}</div>
      </span>
      <md-menu-content class="menuContent">
        <div ng-repeat="item in menuItems.userMenu">
          <md-menu-item>
            <md-button class="menuItemButton" ui-sref="{{item.MenuItemType}}" ui-sref-opts="{reload: true}">
              <i class="material-icons menuItemGlyph">{{item.GlyphCode}}</i>
              {{item.MenuItemText}}
            </md-button>
          </md-menu-item>
        </div>
      </md-menu-content>
    </md-menu>
  </div>
  <div class="mainLeftMenu">
    <div ng-repeat="item in menuItems.leftMenu">
      <md-button class="menuItem" ui-sref="{{item.MenuItemType}}" ui-sref-opts="{reload: true}">
        <md-tooltip class="tooltip" md-direction="right">{{item.MenuItemText}}</md-tooltip>
        <i class="material-icons glyph">{{item.GlyphCode}}</i>
      </md-button>
    </div>
  </div>
</div>
