<md-content class="leftMenuContainer">
  <div class="userDetails">

    <md-menu class="userMenu" md-offset="50 50">
      <img class="userPicture" src="images/user.png" ng-click="openMenu($mdOpenMenu, $event)">
      <md-menu-content class="menuContent">
        <md-menu-item>
          <i class="material-icons">settings</i>
          <md-button>Option 1</md-button>
        </md-menu-item>
        <div>Option 2</div>
      </md-menu-content>
    </md-menu>
    <div class="name">{{userDetails.firstName}} {{userDetails.lastName}}</div>
  </div>
</md-content>
