.userProfile {
  .pageTitleHeader {
    height: 80px;
    line-height: 80px;
    margin-left: 30px;
    font-size: 25px;
    padding: 0;
    &:before {
      font-family: "Material Icons";
      content: 'account_box';
      position: absolute;
      top: 10px;
      font-size: 55px;
    }
    .pageHeader {
      margin-left: 70px;
      display: inline-block;
    }
  }
  .delimiterLine {
    border-top: 2px solid #ccc;
  }
  md-input-container{
    &.inputForm {
      margin-left: 20px;
      label {
        z-index: auto;
      }
    }
  }
}
