.userProfile {
  height: 100%;
  .pageTitleHeader {
    &:before {
      content: 'account_box';
    }
  }

  md-input-container{
    &.inputForm {
      margin-left: 20px;
      label {
        z-index: auto;
      }
    }
  }
}
