<md-content class="userProfile">
  <div class="pageHeader">
    <div class="pageTitle">Contul meu</div>
    <hr class="delimiterLine">
  </div>
  <form name="userForm">
    <div layout-gt-sm="row">
      <md-input-container class="md-block inputForm" flex-gt-sm>
        <label>Nume</label>
        <input value="{{user.FirstName}}" disabled>
      </md-input-container>

      <md-input-container class="md-block inputForm" flex-gt-sm>
        <label>Prenume</label>
        <input value="{{user.LastName}}" disabled>
      </md-input-container>
    </div>

    <md-input-container class="md-block inputForm">
      <label>Adresa</label>
      <input value="{{user.address}}" disabled>
    </md-input-container>

    <div layout-gt-sm="row">
      <md-input-container class="md-block inputForm" flex-gt-sm>
        <label>Oras</label>
        <input value="{{user.address}}" disabled>
      </md-input-container>

      <md-input-container class="md-block inputForm" flex-gt-sm>
        <label>Judet</label>
        <input value="{{user.state}}" disabled>
      </md-input-container>

      <md-input-container class="md-block inputForm" flex-gt-sm>
        <label>Tara</label>
        <input value="{{user.country}}" disabled>
      </md-input-container>

      <md-input-container class="md-block inputForm" flex-gt-sm>
        <label>Postal Code</label>
        <input name="postalCode" value="{{user.postalCode}}">
      </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block inputForm" flex-gt-sm>
        <label>Telefon</label>
        <input ng-model="user.phone" placeholder="Telefon (obligatoriu)" ng-required="true" ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
      </md-input-container>

      <md-input-container class="md-block inputForm" flex-gt-sm>
        <label>Email</label>
        <input ng-model="user.email" type="email" placeholder="Email (obligatoriu)" ng-required="true">
      </md-input-container>
    </div>


  </form>
  <div>
    <md-button ng-click="saveUserDetails()">Save</md-button>
  </div>
</md-content>
